
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dive into one-on-one chats through private threads on Discord..">
    <meta name="author" content="Yapcord">

    <title>Yapcord</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="../assets/web/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="../assets/web/css/swiper.css" rel="stylesheet">
	<link href="../assets/web/css/magnific-popup.css" rel="stylesheet">
	<link href="../assets/web/css/styles.css" rel="stylesheet">
	
    <link rel="icon" href="../assets/web/images/YAPCORD_ROUND.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
	<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>  

    <header id="header" class="ex-header" style="height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><%= message %></h1><br>
                    <a class="btn-solid-lg page-scroll" href="/<%-link%>"><%-link.toUpperCase()%></a>
                </div>
            </div>
        </div>
    </header>
    	
    <script src="../assets/web/js/jquery.min.js"></script>
    <script src="../assets/web/js/popper.min.js"></script>
    <script src="../assets/web/js/bootstrap.min.js"></script>
    <script src="../assets/web/js/jquery.easing.min.js"></script>
    <script src="../assets/web/js/swiper.min.js"></script>
    <script src="../assets/web/js/jquery.magnific-popup.js"></script>
    <script src="../assets/web/js/validator.min.js"></script>
    <script src="../assets/web/js/scripts.js"></script>
</body>
</html>